__pycache__/
.pytest_cache/
temp/
.DS_Store
Thumbs.db
skolmat/
test/sandbox/cookie.txt
*.har
.codex_cache/*
!.codex_cache/readme.md
.vscode_cache/*
!.vscode_cache/readme.md
test/data/*
!test/data/.gitkeep
.ruff_cache/